.App {
  text-align: center;
}

.App-header {
  background-color: #24282f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
    color: white;

}

.App-link {
  color: #61dafb;
}

.Movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .Movie-container {
    flex-direction: column;
    gap: 25px;
    width: 100%;
  }
  .Movie-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
    .Movie-wrapper {
    width: 10rem;
  }
}


.Movie-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: #5e687a;
  width: 19rem;
  padding: 20px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 1s, 1s;
}
.Movie-wrapper img {
  object-fit: cover;
}
.Movie-search {
  font-size: 20px;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 1rem;
  transition: transform 1s, 1s;
}
.Movie-search:hover {
  transform: scale(1.05);
}
.Movie-search:focus {
  outline: 2px solid rgb(127, 152, 158);
}
.Movie-title {
  height: 60px;
  font-weight: bold;
}
.Movie-date{
  font-style: italic;
  position: relative;
  top: 0.5rem;
}

.Movie-rate{
  color: rgb(223, 164, 164);
  text-decoration: underline;
}
